<!-- <pre>{{formGuest.value | json}}</pre> -->

<form [formGroup]="formGuest" (ngSubmit)="send()" class="shadow form" novalidate>

  <!-- department -->
  <div class="mb-3">
    <label for="department" class="form-label"><strong>{{'label.department' | translate}}*</strong></label>
    <select formControlName="department" class="form-select" (change)="changeDepartment($event)">
      <option selected value="">Seleccione</option>
      <option *ngFor="let department of departments">{{department.Department}}</option>
    </select>
    <div *ngIf="departmentField?.errors && departmentField?.touched">
      <p *ngIf="departmentField?.hasError('required')">
        {{'label.required' | translate}} *
      </p>
    </div>
  </div>

  <!-- city -->
  <div class="mb-3">
    <label for="city" class="form-label">{{'label.city' | translate}}*</label>
    <select formControlName="city" class="form-select" id="city">
      <!-- <option selected>Seleccione</option> -->
      <option *ngFor="let city of cities">{{city}}</option>
    </select>
    <div *ngIf="cityField?.errors && cityField?.touched">
      <p *ngIf="cityField?.hasError('required')">
        {{'label.required' | translate}} *
      </p>
    </div>
  </div>

  <!-- Name -->
  <div class="mb-3">
    <label for="name" class="form-label">{{'label.name' | translate}}*</label>
    <input formControlName="name" type="text" class="form-control" id="name" placeholder="Pepito de Jesús">
    <!-- {{nameField.value.length}}/50 -->
    <span class="icon-left"><i class="fas fa-check-circle"></i></span>
    <span class="msj" *ngIf="nameField?.errors && nameField?.touched">
      <p *ngIf="nameField?.hasError('required')">
        {{'label.required' | translate}} *
      </p>
      <p *ngIf="nameField?.hasError('maxlength')">
        {{'label.maximum_limit' | translate}}
      </p>
    </span>
  </div>

  <!-- E-mail -->
  <div class="mb-3">
    <label for="email" class="form-label">{{'label.email' | translate}}*</label>
    <input formControlName="email" type="email" class="form-control" id="email" placeholder="Pepitodejesus@gmail.com">
    <span *ngIf="emailField?.errors && emailField?.touched">
      <p *ngIf="emailField?.hasError('required')">
        {{'label.required' | translate}} *
      </p>
      <p *ngIf="emailField?.hasError('email')">
        {{'label.email_not_valid' | translate}} *
      </p>
    </span>
  </div>

  <!-- Enviar -->
  <div class="text-center">
    <button type="submit" name="enviar" class="btn">Enviar</button>
  </div>
</form>
